name: Security Scan

on:
  #push:
  #  branches: ["main"]
  #pull_request:
  #  branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  trivy-fs-scan:
    name: Trivy FS Scan (repo)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Trivy FS scan
        uses: aquasecurity/trivy-action@v0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "table"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          exit-code: "1"

  trivy-image-scan:
    name: Trivy Image Scan (gateway + inspector)
    runs-on: ubuntu-latest
    needs: trivy-fs-scan

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Gateway image
        run: |
          docker build \
            -t aegis-gateway:ci \
            -f ./Dockerfile.gateway .

      - name: Build Inspection Service image
        run: |
          docker build \
            -t aegis-inspector:ci \
            -f ./Dockerfile.inspection .

      - name: Trivy scan Gateway image
        uses: aquasecurity/trivy-action@v0
        with:
          scan-type: "image"
          image-ref: "aegis-gateway:ci"
          format: "table"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          exit-code: "1"

      - name: Trivy scan Inspector image
        uses: aquasecurity/trivy-action@v0
        with:
          scan-type: "image"
          image-ref: "aegis-inspector:ci"
          format: "table"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          exit-code: "1"
          
  sbom-syft:
    name: SBOM (Syft)
    runs-on: ubuntu-latest
    needs: trivy-fs-scan

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Generate SBOM (SPDX JSON)
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: spdx-json
          output-file: sbom-spdx.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-spdx
          path: sbom-spdx.json
          retention-days: 7